body {
  color: #666; }

nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  padding: 12px 0px;
  color: #FFF;
  z-index: 1000;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  nav span {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px; }
  nav .navwrap {
    position: absolute;
    right: 0px;
    top: 0px; }
    nav .navwrap a {
      display: inline-block;
      padding: 10px;
      height: 30px;
      line-height: 30px;
      color: #FFF;
      text-decoration: none;
      margin-left: 15px;
      font-weight: bold; }

.section {
  float: left;
  width: 100%; }
  .section h1 {
    color: #EE4154;
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .section span {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 75px;
    font-family: "Roboto Slab", "Helvatica Neue", Helvetica, Arial, sans-serif; }

.wrapper {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 30px 0px; }

.link {
  display: inline;
  width: 0px;
  height: 0px;
  position: relative;
  top: -59px; }

.button {
  display: block;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  background-color: #C8C443;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  text-decoration: none; }

.button:active, .button:visited {
  color: #FFF;
  text-decoration: none; }

.home {
  background: -webkit-linear-gradient(#C8C443, #EE4154);
  background: -o-linear-gradient(#C8C443, #EE4154);
  background: -moz-linear-gradient(#C8C443, #EE4154);
  background: linear-gradient(#C8C443, #EE4154);
  color: #FFF; }
  .home .wrapper {
    padding: 200px 0px; }
  .home h1 {
    display: block;
    text-align: center;
    margin: 0px;
    font-size: 75px;
    color: #FFF; }
  .home span {
    display: block;
    text-align: center;
    font-size: 33px;
    color: #FFF;
    margin: 0px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.about {
  border-bottom: 5px solid #EE4154; }
  .about .wrapper {
    width: 700px; }
  .about .about-block {
    float: left;
    width: 400px;
    margin-bottom: 100px; }
  .about .first {
    padding-right: 100px; }
  .about .first h2, .about .first p {
    text-align: right; }
  .about .second {
    padding-left: 100px; }
  .about .second h2, .about .second p {
    text-align: left; }
  .about .image {
    float: left;
    width: 180px;
    height: 180px;
    background-size: 180px 180px;
    margin-bottom: 130px;
    border-radius: 200px;
    border: 10px solid #DDD; }
  .about .melon {
    background-image: url("../assets/melon-head.jpg"); }
  .about .code {
    background-image: url("../assets/code.jpg"); }
  .about h2 {
    color: #EE4154;
    margin: 0px;
    font-size: 23px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .about p {
    float: left;
    width: 400px;
    line-height: 23px; }

.goals_wrapper {
  margin-left:5%;
  margin-right:5%;
}
.goals .column-left {
  float:left;
  width:33%;
  text-align:center;
  }
.goals .column-middle{
  display:inline-block;
  width:33%;
  text-align:center;
   }
.goals .column-right {
  float:right;
  text-align:center;
  width:33%;
}
.goals .icon {
    color: #C8C443;

 }
.goals  h3 {
    color: #EE4154;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.goals p {
    margin-left:4%;
    margin-right:4%;
    line-height: 23px; 
  }

.join {
  background-color: #EE4154;
  color: #FFF; }
  .join h1 {
    color: #FFF; }
  .join span {
    margin-bottom: 0px; }
  .join .copy {
    margin-top: 20px;
    height: 40px;
    font-size: 15px;
    line-height: 40px; }

/*Responsive*/
@media (max-width:740px){
.goals .column-left { 
  float:left; 
  text-align:center;
    width:100%; }
.goals .column-middle{ 
    display:inline-block;
    text-align:center;
    width:100%; }
.goals .column-right{ 
    float:right; 
    text-align:center;
    width:100%; }
}

/*# sourceMappingURL=mellonheads.css.map */
